.text-container {
  text-align: start;
  padding: 5% 0 0 0;
}

.list-container {
  display: flex;
  padding: 40px 0 0 0;
  flex-direction: column;
}

.paragraphs {
  margin: 10% 0 0 0;
  max-width: 393px;
}

.second-part {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  padding-right: 150px;
}
