.main-page-container {
  position: relative;
}

.floating-image-1 {
  position: absolute;
  top: 206px;
  right: 10%;
}

.floating-image-2 {
  position: absolute;
  top: 367px;
  left: 8%;
}

.floating-image-3 {
  position: absolute;
  top: 370px;
  right: 0;
}

.floating-image-4 {
  position: absolute;
  top: 720px;
  left: 5%;
}