.main-page-container {
  position: relative;
}

.floating-image-1 {
  position: absolute;
  top: 0px;
  right: 10%;
}

.floating-image-2 {
  position: absolute;
  top: 100px;
  left: 8%;
}

.floating-image-3 {
  position: absolute;
  top: 160px;
  right: 0;
}

.floating-image-4 {
  position: absolute;
  top: 560px;
  left: 5%;
}

@media (max-width: 480px) {
  .main-page-container {
    padding-top: 100px;
  }
  .floating-image-1 {
    display: none;
  }
  .floating-image-2 {
    display: none;
  }
  .floating-image-3 {
    display: none;
  }
  .floating-image-4 {
    display: none;
  }
}
