.title-center {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #8C96E7;

    span {
        color: #EDEDF5;
    }
}

