.why-us {
  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      width: 3px;
      height: 3px;

      &:nth-child(1) {
        background-color: #ad85dc;
      }
      &:nth-child(2) {
        background-color: #6ea5e4;
      }
      &:nth-child(3) {
        background-color: #b0d5fe;
      }

      &:not(:first-of-type) {
        margin: 0 0 0 5px;
      }
    }
  }
}
