@import 'shared/styles/variables.scss';

.input-label {
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 12px;
  margin-top: 33px;
}

.input-gradient {
  background-image: $input-gradient;
  border-radius: 22px;
  padding: 2px;
}

input, textarea {
  width: 100%;
  border-radius: 22px;
  border: none;
  background-color: $bg-color;
  color: #fff;
  padding: 12px;
  resize: none
}