@import 'shared/styles/variables.scss';

.input-label {
  color: #FFF;
  font-size: 20px;
  display: block;
  margin-bottom: 12px;
  margin-top: 33px;
}

.input-gradient {
  background-image: $input-gradient;
  border-radius: 22px;
  padding: 2px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  margin-top: 10px;
}

input[type="checkbox"] {
  //display: none;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-designed {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 2px 10px 0 0;
  background-color: #0d0d2b;
  border: 2px solid rgb(90 101 136 / 40%);
  border-radius: 4px;
  cursor: pointer;
}

.check-designed::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #d8d8e3;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked + .check-designed::before {
  opacity: 1;
}

input, textarea {
  width: 100%;
  border-radius: 22px;
  border: none;
  background-color: $bg-color;
  color: #fff;
  padding: 12px;
  resize: none;
}