.sub-title {
  font-family: 'Consolas';
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
<<<<<<< HEAD
=======
  margin-top: 33px;
>>>>>>> origin/dev
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
  margin-bottom: 68px;
}

.docs-container {
  margin-top: 33px;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  margin-bottom: 68px;
}
