@import 'shared/styles/variables.scss';

.frame {
  width: fit-content;
  height: 62px;
  border-radius: 22px;
  border-color: $border-card-color;
}

.text {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: $main-text-color;
}