@import 'shared/styles/variables.scss';
@import 'shared/styles/screens.scss';

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 278px 45px 45px;
  gap: 10px;
  max-height: 500px;
  background: $card-background;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 2px solid;
  border-color: $border-card-color;
  text-align: start;
  transition: 0.3s;
  max-width: 450px;
}

.card-title {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
}

.card-years {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: $paragraph-text-color;
}

.card-description {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $main-text-color;
}

.buttons-container {
  transition: 0.4s;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  margin: 45px auto 0;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: stretch;
}

.card-container:hover {
  max-height: 1000px;

  .buttons-container {
    max-height: 400px;
    opacity: 1;
    pointer-events: unset;
  }
}

@media (max-width: $mobile) {
  .card-container {
    height: fit-content;
    max-width: 400px;
  }

  .card-title {
    font-size: 24px;
  }

  .card-years {
    font-size: 15px;
  }

  .card-description {
    font-size: 15px;
  }
}
