@import 'shared/styles/variables.scss';
@import 'shared/styles/screens.scss';

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 278px 45px 45px 45px;
  height: 526px;
  overflow: hidden;
  background: $card-background;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 2px solid var(--back, rgba(200, 138, 249, 0.2));
  text-align: start;
  transition: 0.3s;
  max-width: 400px;
  //max-width: 100%;
}

.card-title {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  padding: 0 0 8px 0;
}

.card-years {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: $paragraph-text-color;
  padding: 0 0 24px 0;
}

.card-description {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $main-text-color;
  overflow: hidden;
}

.buttons-container {
  //transition: 0.4s;
  //max-height: 0;
  //opacity: 0;
  //pointer-events: none;
  margin: 0 auto 0;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: stretch;
}

//.card-container:hover {
//  max-height: 1000px;
//
//  .buttons-container {
//    max-height: 400px;
//    opacity: 1;
//    pointer-events: unset;
//  }
//}

.card-container:hover {
  background: $active-card-color;
  border: 2px solid var(--back, rgba(200, 138, 249, 0.4));
}

@media (max-width: $mobile) {
  .card-container {
    height: fit-content;
    max-width: 400px;
  }

  .card-title {
    font-size: 24px;
  }

  .card-years {
    font-size: 15px;
  }

  .card-description {
    font-size: 15px;
  }
}
