@import 'shared/styles/variables.scss';

.board-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 190px 0;
}

.board {
  width: 1240px;
  height: 506px;
  background: $board-gradient;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  align-self: center;
}