@font-face {
  font-family: 'Onest';
  src: local('Onest'),
    url('../assets/fonts/onestregular.ttf') format('truetype'),
    url('../assets/fonts/onestregular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../assets/fonts/onestmedium.ttf') format('truetype'),
    url('../assets/fonts/onestmedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../assets/fonts/onestbold.ttf') format('truetype'),
    url('../assets/fonts/onestbold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Consolas';
  src: local('Consolas'), url('../assets/fonts/Consolas.ttf') format('truetype');
  font-weight: 400;
}
