$bg-color: #0d0d2b;
$main-text-color: #d8d8e3;
$title-color: #8c96e7;
$action-button-text-color: #0d0d2b;
$gradient-tracing: linear-gradient(
                96.99deg,
                rgba(244, 138, 249, 0.3) -77.06%,
                rgba(95, 154, 222, 0.3) 78.01%,
                rgba(177, 213, 255, 0.3) 207.41%);
$paragraph-text-color: rgba(237, 237, 245, 0.5);