$bg-color: #0d0d2b;
$main-text-color: #d8d8e3;
$title-color: #8c96e7;
$action-button-text-color: #0d0d2b;
$gradient-tracing: linear-gradient(
  96.99deg,
  rgba(244, 138, 249, 0.3) -77.06%,
  rgba(95, 154, 222, 0.3) 78.01%,
  rgba(177, 213, 255, 0.3) 207.41%
);
$paragraph-text-color: rgba(237, 237, 245, 0.5);
$card-background: linear-gradient(
  120deg,
  rgba(244, 138, 249, 0.1) -11.68%,
  rgba(95, 154, 222, 0.1) 45.66%,
  rgba(177, 213, 255, 0.1) 93.52%
);
$pink-gradient: linear-gradient(to left, #d78df4 0%, #a792eb 100%);
$blue-gradient: linear-gradient(to left, #9b93e9 0%, #9ac5f6 100%);
$pink-blue: linear-gradient(
  to left,
  rgba(200, 138, 249, 0.4) -77.06%,
  rgba(177, 255, 241, 0.4) 207.41%
);
$blue-pink-gradient: linear-gradient(95.29deg, #f48af9 -24%, #5f9ade 62.16%);
$border-card-color: linear-gradient(
  96.99deg,
  rgba(200, 138, 249, 0.4) -77.06%,
  rgba(177, 255, 241, 0.4) 207.41%
);
$dark-text-color: #0d0d2b;
$dark-background: rgba(255, 255, 255, 0.1);
$dark-container-background: rgba(217, 217, 217, 0.05);
$forgot-pass-gradient: -webkit-linear-gradient(
  95.47deg,
  #f48af9 -54.22%,
  #5f9ade 62.6%,
  #b1d5ff 160.08%
);
$form-button-gradient: linear-gradient(
  to right,
  rgba(244, 138, 249, 1) -74.81%,
  rgba(177, 213, 255, 1) 104.8%
);
$form-button-text-gradient: linear-gradient(
  to right,
  rgba(244, 138, 249, 1),
  rgba(95, 154, 222, 1),
  rgba(177, 213, 255, 1)
);
$input-gradient: linear-gradient(
  to right,
  rgba(200, 138, 249, 0.4),
  rgba(177, 255, 241, 0.4)
);
$focus-input-gradient: linear-gradient(
  96.99deg,
  rgba(200, 138, 249, 0.4) -77.06%,
  rgba(177, 255, 241, 0.4) 207.41%
);
$document-gradient: linear-gradient(
  to right,
  rgba(244, 138, 249, 1),
  rgba(95, 154, 222, 1),
  rgba(177, 213, 255, 1)
);
$footer-border: rgba(255, 255, 255, 0.1);
$new-main-color: #B4FFE8;
$new-text-color: #EDEDF5;
$board-gradient: linear-gradient(120deg, rgba(174, 138, 249, 0.1) -11.68%, rgba(95, 222, 222, 0.1) 93.52%);
$pink-color: #CBABFF;


