.about-block {
  padding: 45px 0 200px 0;

  &__list {
    margin: 40px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      list-style: none;
      padding: 18px 44px;

      button {
        background: none;
        border: none;
        font-family: 'Onest';
        font-weight: 400;
        font-size: 20px;
        color: #EDEDF5;
        cursor: pointer;

      }
      &--active {
        cursor: default;
        border: 1px solid #EDEDF5;
        border-radius: 100px;

        button {
          cursor: default;
        }
      }
      &:not(:first-of-type) {
        margin: 0 0 0 40px;
      }
    }


  }
}
