@import '/src/shared/styles/screens.scss';


.main-projects-container {
  padding: 190px 0 213px 0;
}

.text-project-container {
  text-align: start;
  padding: 0;
}

.projects-list-container {
  gap: 40px;
  margin: 5% 0 5% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  max-width: fit-content;
  margin: 0 auto;
  display: block;
}


@media (max-width: 480px) {
  .projects-list-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 0 10px 0;
  }

  .main-projects-container {
    padding: 0 0 150px 0;
  }
}

