.form {
    .select {
        position: relative;
        z-index: 5;
        * {
            scrollbar-width: none;
        }

        *::-webkit-scrollbar {
            display: none;
        }
    }
    .select__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 16px 26px 16px 46px;
        
        color: #EDEDF5;

        cursor: pointer;
        background: none;
        border-radius: 100px;
        border: 2px solid #53567c;
    }

    .select__text {
        font-family: Onest;
        font-size: 20px;
        font-weight: 400;
    }

    .select__list, .select__item {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    .select__list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        max-height: 250px;
        overflow-y: scroll;
        padding: 87px 48px 0 48px;

        border-radius: 30px;
        border: 2px solid #53567c;
        background: rgba(13, 13, 43, 0.20);
        backdrop-filter: blur(10px);
    }

    .select__item {
        padding: 10px 0;

        cursor: pointer;

        &-disabled {
            pointer-events: none;
            color: red;
            padding-bottom: 20px;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
}
// 200 138 249 1
// 177 255 241 1