@import 'shared/styles/variables.scss';

.footer-wrapper {
  margin-top: 100px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
  padding: 70px 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.line {
  border-top-width: 2px;
  border-top-color: $footer-border;
}

.logo {
  font-weight: 700;
  font-size: 32px;
  color: $main-text-color;
  text-decoration: none;
}

.first-block {
  width: 366px;
  text-align: start;
}

.second-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  list-style: none;
  font-size: 20px;
  text-align: start;
  li {
    cursor: pointer;
    margin-bottom: 20px;
  }
}

.text {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: $main-text-color;
  padding: 0 0 5% 0;
}

.text-bold {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: $main-text-color;
}
