.admin-projects-container {
  margin-top: 62px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  min-height: 1000px;
}

.projects-container {
  -ms-flex-line-pack: 3;
  grid-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
