@import 'shared/styles/variables.scss';

.block-container {
  max-width: 724px;
  margin: 120px auto 190px;
}

.pink-gradient {
  background: $pink-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient {
  background: $new-main-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-block-text {
  text-align: center;
  max-width: 444px;
  margin: 0 auto 80px;
  line-height: 32px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 480px) {
  .block-container {
    display: flex;
    flex-direction: column;
    margin: 90px auto 150px;
  }

  .main-block-text {
    max-width: 333px;
    font-size: 15px;
  }

  .buttons-container {
    gap: 20px;
  }
}
