@import 'shared/styles/variables.scss';

.block-container {
  max-width: 724px;
  margin: 120px auto 190px;
}

.pink-gradient {
  background: $pink-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient {
  background: $blue-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-block-text {
  text-align: center;
  max-width: 444px;
  margin: 0 auto 80px;
  line-height: 32px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
