@import 'shared/styles/variables.scss';

.page-container {
  display: flex;
  flex-direction: row;
  gap: 300px;
}

.container-technologies {
  text-align: start;
  padding: 8% 0 0 0;
  display: flex;
  flex-direction: column;
}

.subtitle-container {
  max-width: 605px;
}

.paragraph-container {
  max-width: 583px;
}

.square-brackets {
  color: $main-text-color;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 100px 0 0 0;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.picture {
  width: 150px;
  height: 150px;
  background: $card-background;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid $border-card-color;
}

