@import 'shared/styles/variables.scss';

.container-technologies {
  text-align: start;
  padding: 8% 0 0 0;
}

.subtitle-container {
  max-width: 605px;
}

.paragraph-container {
  max-width: 583px;
}

.square-brackets {
  color: $main-text-color;
}